@model IEnumerable<TechStore.Models.Produto>

<div class="bg-dark text-white rounded p-5 mb-5 text-center shadow">

    <h1 class="display-4 fw-bold">

        Bem-vindo à TechStore

    </h1>

    <p class="lead">

        Tecnologia e inovação ao seu alcance.

    </p>

    <a asp-controller="Home" asp-action="Produtos" class="btn btn-primary btn-lg">

        Ver Catálogo

    </a>

</div>

@if (!Model.Any())
{
    <div class="alert alert-info">

        Nenhum produto disponível no momento.

    </div>
}
else
{
    <div class="row">

        @foreach (Produto produto in Model)
        {
            <div class="col-md-4 mb-4">

                <div class="produto-card">

                    <img class="img-card" src="@Url.Content(
                             string.IsNullOrWhiteSpace(produto.Imagem)
                                 ? "~/img/not_defined_img_product.png"
                                 : produto.Imagem)" style="max-width: 400px; height: 250px; object-fit: cover;" />

                    <div class="card-body">

                        <h5 class="card-title">

                            @produto.Nome

                        </h5>

                        <p class="text-muted">

                            @produto.Categoria

                        </p>

                        <p>

                            @produto.Descricao

                        </p>

                    </div>

                    <div class="card-footer">

                        <strong>

                            R$ @produto.Preco.ToString(format: "N2")

                        </strong>

                    </div>

                </div>

            </div>
        }

    </div>
}