@model IEnumerable<TechStore.Models.Produto>

<h2 class="title">Nossos Produtos</h2>


@if (!Model.Any())
{
    <div class="alert alert-info">

        Nenhum produto disponível no momento.

    </div>
}
else
{
    <div class="row">

        @foreach (var produto in Model)
        {
            <div class="col-md-4 mb-4">

                <div class="card h-100">

                    <img src="@(string.IsNullOrWhiteSpace(produto.Imagem)
                             ? Url.Content("~/img/not_defined_img_product.png")
                             : Url.Content(produto.Imagem))" class="card-img-top" style="height:220px; object-fit:cover;">

                    <div class="card-body">

                        <h5 class="card-title">

                            @produto.Nome

                        </h5>

                        <p class="text-muted">

                            @produto.Categoria

                        </p>

                        <p>

                            @produto.Descricao

                        </p>

                    </div>

                    <div class="card-footer">

                        <strong>

                            R$ @produto.Preco.ToString(format: "N2")

                        </strong>

                    </div>

                </div>

            </div>
        }

    </div>
}